body {
    width: 1020px;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Lato";
}

.quote {
    width: 1020px;
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.quote-title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    height: 40px;
    padding: 69px 0px 0px 40px;
    letter-spacing: -0.2;
}

.quote-desc {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    padding: 6px 0px 0 40px;
    letter-spacing: -0.1;
}


footer {
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 364px;
    width: 951;
    margin: 45px 0 0px 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 418px;
}

.container form,input,textarea {
    width: 619px;
    height: 38px;
    border: 0px;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-indent: 15px;
}

.container [type="submit"] {
    width: 80px;
    cursor: pointer;
}

.container textarea {
    width: 619px;
    height: 202px;
    border-radius: 5px;
    background-color: #d6564f;
    resize: none;
    text-indent: 13px;
}

textarea[placeholder] {
    padding: 7px 0px 0px 0px;
}

.container input:last-child[placeholder] {
    padding-bottom: 167px;
    vertical-align: top;
}

::placeholder{
    color: #f48c8f;
    vertical-align: top;
}

.our-info {
    display: flex;
    flex-direction: column;
    height: 202px;
    justify-content: space-between;
    letter-spacing: -0.1;
    width: 311px;
}

.info-title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.info-description {
    font-size: 12px;
    width: 300px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.2px;
    padding-bottom: 10px;
}

.info-contacts {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;    
    letter-spacing: -0.1px;
}
.info-contacts a{
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    text-decoration: none;
}

.copyrights {
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-weight: 400;
    display: inline-block;
    padding: 28px 0 0px 42px;
    letter-spacing: -0.2px;
}

.social_links {
    display: inline-block;
    float: right;
    padding: 21px 39px 0px 0;
}

.social_links a {
    padding-left: 2px;
}

.place img{
    margin: 0px 10px -1px 3px;
}

.phone img{
    margin-left: 1px;
    margin-right: 8px;
}

.email img{
    margin-right: 8px;
}