body {
    width: 1020px;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Lato";
}

        /*HEADER*/
        
header {
    height: 190px;
    background-color: #2d303a;
}

.title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    padding: 69px 0 0 40px;
    letter-spacing: -0.2;
    text-align: left;
}

.title_desription {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    padding: 29px 0 0 40px;
    letter-spacing: -0.2;
    font-weight: 300;
    text-align: left;
}

.tags {
    padding: 9px 0 0 42px;;
}

.tag {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
    border-radius: 5px;
    letter-spacing: -0.1;
    background-color: #2d303a;
    border: 1px solid #666d89;
    margin-right: 6px;
    padding: 0px 6px 0px 6px;
    cursor: pointer;
}

.tag.active {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
    margin-right: 7px;
}

.tag:hover {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}

.pic-place {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 601px;
    padding: 6px 40px 67px 40px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.pic-place>img:nth-child(n + 13) {
    display: none;
}

        /*FOOTER*/

footer {
    padding-bottom: 65px;
    background-color: #f2f2f2;
    border-bottom: solid 6px #ffffff;
}

.about_title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    letter-spacing: -0.2px;
    font-weight: 900;
    text-align: left;
    padding: 68px 0px 10px 40px;
}

.about_description {
    
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    padding: 19px 42px 0px 40px;
    color: #767e9e;
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.2;
}

.avatars {
    display: flex;
    width: 940;
    justify-content: space-between;
    padding: 46px 40px 0px 40px;
}

.avatar-block {
    display: flex;
    flex-direction: column;
}


.avatar-block:nth-child(2) {
    padding-right: 2px;
}

.avatar-name {
    font-size: 18px;
    padding-top: 17px;
    max-width: 300px;
    letter-spacing: -0.2;
    color: #666d89;
    font-weight: 900;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.avatar-description {
    width: 300px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-weight: 400;
    text-align: left;
    padding-top: 11px;
    letter-spacing: -0.1;
}

.avatar-links {
    display: flex;
    justify-content: space-between;
    width: 154px;
    padding-top: 22px;
}

.avatar-block:nth-child(3) > .avatar-links{
    margin-left: -1px;
}