@font-face {
font-family: "Lato300"; 
src: url(assets/Lato-Light.ttf); }
@font-face {
font-family: "Lato400"; 
src: url(assets/Lato-Regular.ttf); }
@font-face {
font-family: "Lato700"; 
src: url(assets/Lato-Bold.ttf); }
@font-face {
font-family: "Lato900"; 
src: url(assets/Lato-Black.ttf); }

body {
    width: 1020px;
    overflow-x: hidden;
    margin: 0 auto;
}
   
    /*header*/

a {
    text-decoration: none;
    color: white;
}

a:hover {
    border-bottom: 1px solid;
}

header {
    display: flex;
    background-color: #2D303A;
    height: 89px;
    border-bottom: 6px solid #323746;
}

.title {
    padding: 34px 0px 36 40px;
    letter-spacing: -0.7;
    font-size: 25px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 700;
    width: 1020px;
}
    
.star {
    color: #f06c64;
}

ul {
    justify-content: flex-end;
}

nav>ul>span>a {
    color: #f06c64;
}

nav {
    letter-spacing: -0.05px;
    margin: 44px 22px 00 00;
    width: 700px;
    font-size: 12px;
    color: #f06c64;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
}

li {
    display: inline;
    color:#ffffff;
}

ul li::before {
    padding-left: 10px;
    padding-right: 13px;
    color: #494e62;
    content: '\00B7';
}

    /*slider*/

.slider {
    width: 1020px;
    display: flex;
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.phonehorz {
    display: flex;
    width: 484;
    height: 240;
    justify-content: flex-end;
    margin: 174px 0px 0px 73px;
}

.phonevert {
    display: flex;
    width: 240;
    height: 483;
    justify-content: left;
    margin: 53px 0 0px 54px;
}

.arrow {
    width: 16px;
    height: 27px;
    opacity: 1;
    cursor: pointer;
}

.arrow:hover {
    pointer-events: cursor;
    opacity: 0.5;
}

.arrow-left {
    margin: 281px 0px 0px 42px;
}

.arrow-right {
    margin: 281px 0px 10 55px;
}

    /*services*/

.our_services {
    
    font-family: "Lato";
    margin: 0%;
    height: 494px;
    background-color: #f2f2f2;
    border-bottom: #ffffff 6px solid;
}

h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding: 69px 0 0px 39px;
}

.MainSerInfo p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
    margin: 28px 0 0 40px;
    letter-spacing: -0.05;
}

.servmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 40px;
}

.MainSerInfo {
    height: 220px;
    width: 1020px;
}

.ar1 {
    order: 1;
}

.ar2 {
    order: 2;
}

.serv {
    flex-basis: 320px;
    height: 123px;
}

.serv h3 {
    font-size: 18px;
    line-height: 13px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-bottom: 14px;
}

.serv p {
    width: 219px;
    height: 128px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    word-break: break-all;
}

.serv h3, p {
    margin-left: 80px;
}

img {
    float: left;
}