@font-face {
font-family: "Lato300"; 
src: url(assets/Lato-Light.ttf); }
@font-face {
font-family: "Lato400"; 
src: url(assets/Lato-Regular.ttf); }
@font-face {
font-family: "Lato700"; 
src: url(assets/Lato-Bold.ttf); }
@font-face {
font-family: "Lato900"; 
src: url(assets/Lato-Black.ttf); }


body {
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
}
   
                                                            /*header*/

.header-modile {
    display: none;
}   

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 0px 4%;
}

.title {
    letter-spacing: -0.5px;
    font-size: 25px;
    font-weight: 700;
    line-height: 22px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lato700";
}

h1>a {
    text-decoration: none;
    color: white;
}

h1>a:hover {
    border-bottom: 1px solid;
}
.navbar a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navbar a:hover {
    border-bottom: 1px solid;
}

header {
    display: flex;
    position: fixed;
    background-color: #2D303A;
    width: 100%;
    max-width: 1020px;
    height: 89px;
    border-bottom: 6px solid #323746;
    z-index: 5;
}

.title a::after {
    display: inline-blocks;
    content: '*';
    color: #f06c64;
}

.navbar {
    justify-content: flex-end;
    display: flex;
    padding-top: 10px;
}

.navbar span>a:first-child {
    color: #f06c64;
}

nav {
    letter-spacing: -0.15px;
    font-size: 11.4px;
    color: #f06c64;
    font-family: "Lato700";
    text-align: justify;

}

.navbar li {
    display: inline;
    color:#ffffff;
}

.navbar li:first-child::before {
    padding-left: 12px;
    padding-right: 14px;
    color: #494e62;
    content: none;
}

.navbar li::before {
    padding-left: 12px;
    padding-right: 14px;
    color: white;
    content: '\00B7';
}

.header-active > a {
    color: #F06C64;
}

                                                            /*slider*/


.slider__container {
  padding-top: 95px;
  overflow: hidden;
  position: relative;
}

.slider {
    display: flex;
    transition: all 1s;
}

.slide-block {
    height: 594px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    min-width: 100%;
}

.second-slide {
    background-image: url(assets/Slider2.png);
    background-color: #648bf0;
    background-size: contain;
    background-repeat: no-repeat;
    border-bottom: 6px solid #5482F6;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
    margin-left: 20px;
}

.next {
  left: 950px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.phone-block{
    max-width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    margin: auto;
}

.phone-one-wrapper  {
    width: 23.5%;
    height: 77%;
    margin-left: 6.6%;
    margin-bottom: 3.5%;
    position: relative;
}

.phone-one {
    border-radius: 18px;
    cursor: pointer;
    background-image: url(assets/phone-vertical.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.phone-one-off{
    background-image: url(assets/phone-verticaloff.png);
}

.phone-two-wrapper  {
    width: 50%;
    height: 36%;
    margin-bottom: 3.5%;
    border-radius: 26px;
    margin-right: 9.3%;
    position: relative;
}

.phone-two {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(assets/phone-horizontal-on.png);
    cursor: pointer;
    background-size: contain;
    z-index: 2;
}

.phone-shadow {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 24px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.15);
    bottom: -25px;
    right: -25px;
}

.phone-two-off{
    background-image: url(assets/phone-horizontal.png);
    
}

                                                            /*services*/

.our_services {    
    font-family: "Lato700";
    margin: 0%;
    height: 494px;
    background-color: #f2f2f2;
    border-bottom: #ffffff 6px solid;
}

h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato900";
    text-align: justify;
    padding: 68px 0 0px 40px;
}

.MainSerInfo p {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato300";
    font-weight: 300;
    text-align: justify;
    margin: 27px 0 0 40px;
    letter-spacing: -0.2;
}

.servmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 40px;
}

.MainSerInfo {
    height: 220px;
    width: 1020px;
}

.ar1 {
    order: 1;
}

.ar2 {
    order: 2;
}

.serv {
    flex-basis: 320px;
    height: 123px;
}

.serv h3 {
    font-size: 18px;
    line-height: 13px;
    color: #666d89;
    font-family: "Lato900";
    text-align: justify;
    margin-bottom: 14px;
}

.col2 h3{
    letter-spacing: -0.4px;
}

.serv p {
    width: 219px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato400";
    text-align: justify;
    word-break: break-all;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.serv h3,p{
    margin-left: 80px;   
}

.about p {
    margin: 0;
}

.ServMenu img {
    float: left;
    transform: scale(0.967);
    margin: -1px 0px 0px -1px;
}
                                                            /* SINGOLO2 */

.portfolio-block {
    height: 866px;
}

.portfolio {
    height: 190px;
    background-color: #2d303a;
}

.portfolio-title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato900";
    padding: 68px 0 0 40px;
    letter-spacing: 0.2;
    text-align: justify;
}

.title-desription {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    padding: 27px 0 0 40px;
    letter-spacing: -0.2;
    font-family: "Lato300";
    text-align: justify;
}

.tags {
    padding: 11px 0 0 42px;
}

.tag {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato400";    
    text-align: justify;
    border-radius: 5px;
    letter-spacing: -0.1;
    background-color: #2d303a;
    border: 1px solid #666d89;
    margin-right: 6px;
    padding: 0px 6px 0px 6px;
    cursor: pointer;
}

.tag.active {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
    margin-right: 7px;
}

.tag:hover {
    color: #c5c5c5;
    border: 1px solid #c5c5c5;
}

.pic-place {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 70.4%;
    width: 93.2%;
    padding: 0px 35px 62px 35px;
    background-color: #2d303a;
    border-bottom: 5px solid #323746;
}

.pic-place>img:nth-child(n + 13) {
    display: none;
}

                                                /*FOOTER*/

.about_us {
    padding-bottom: 65px;
    background-color: #f2f2f2;
    border-bottom: solid 6px #ffffff;
}

.about_title {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    letter-spacing: -0.2px;
    font-family: "Lato900";
    text-align: justify;
    padding: 68px 0px 10px 41px;
}

.about_description {
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    padding: 17px 42px 0px 40px;
    color: #767e9e;
    font-family: "Lato300";
    text-align: justify;
    letter-spacing: -0.13px;
}

.avatars {
    display: flex;
    width: 940;
    justify-content: space-between;
    padding: 48px 40px 0px 40px;
}

.avatar-block {
    display: flex;
    flex-direction: column;
}


.avatar-block:nth-child(2) {
    padding-right: 2px;
}

.avatar-name {
    font-size: 18px;
    padding-top: 17px;
    max-width: 300px;
    letter-spacing: 0.1px;
    color: #666d89;    
    font-family: "Lato900";
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.avatar-description {
    width: 300px;
    font-size: 12px;
    line-height: 21px;
    color: #767e9e;
    font-family: "Lato400";
    text-align: justify;
    padding-top: 10px;
    letter-spacing: -0.15;
    margin: 0;
}

.avatar-links {
    display: flex;
    justify-content: space-between;
    width: 154px;
    padding-top: 23px;
}

.avatar-block:nth-child(3) > .avatar-links{
    margin-left: -1px;
}
                                                        /* singolo3 */

.quote {
    width: 1020px;
    height: 648px;
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
}

.quote-title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato900";
    text-align: justify;
    height: 40px;
    padding: 68px 0px 0px 40px;
    letter-spacing: -0.19;
}

.quote-desc {
    width: 940px;
    height: 57px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato300";
    text-align: justify;
    padding: 5px 0px 0 40px;
    letter-spacing: -0.24;
}


footer {
    width: 1020px;
    height: 76px;
    background-color: #2d303a;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 364px;
    width: 951;
    margin: 47px 0 0px 40px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 115%;
    width: 68%;
}

.container form,input,textarea {
    width: 619px;
    height: 38px;
    border: 0px;
    border-radius: 5px;
    background-color: #d6564f;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato400";
    text-align: justify;
    text-indent: 15px;
    padding-bottom: 2px;
}

.container [value="submit"] {
    background-color: #FBC65F;
    width: 80px;
    cursor: pointer;
    color: #886A30;
}

.container textarea {
    width: 619px;
    height: 202px;
    border-radius: 5px;
    background-color: #d6564f;
    resize: none;
    text-indent: 13px;
}

textarea[placeholder] {
    padding: 7px 0px 0px 2px;
}

.container input:last-child[placeholder] {
    padding-bottom: 167px;
    vertical-align: top;
}

::placeholder{
    color: #f48c8f;
    vertical-align: top;    
}

.our-info {
    display: flex;
    flex-direction: column;
    height: 55.5%;
    justify-content: space-between;
    letter-spacing: -0.1;
    width: 33%;
}

.info-title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato900";
    text-align: justify;
    letter-spacing: 0.1px;
}

.info-description {
    font-size: 12px;
    width: 300px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato400";
    text-align: justify;
    letter-spacing: -0.15px;
    padding-bottom: 13px;
}

.info-contacts {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato400";    
    text-align: justify;    
    letter-spacing: -0.1px;
}
.info-contacts a{
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    text-decoration: none;
}

.copyrights {
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato400";
    display: inline-block;
    padding: 28px 0 0px 42px;
    letter-spacing: -0.2px;
}

.social-links {
    float: right;
    padding: 21px 39px 0px 0;
}

.social-links a {
    padding-left: 2px;
}

.place img{
    margin: 0px 10px -1px 3px;
}

.phone img{
    margin-left: 1px;
    margin-right: 8px;
}

.email img{
    margin-right: 8px;
}

.picture-block {
    box-sizing: border-box;
    border: 5px solid transparent;
    cursor: pointer;
}

.picture-block:hover {
    border: 5px solid #9c27b063;
}

.picture-block.active {
    border: 5px solid #F06C64;
}

/* Modal styles */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d6e;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  max-width: 930px;
  background-color: #fefefe;
  border-radius: 6px;
  margin: 4% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #8c3d3f;
  width: 80%; /* Could be more or less, depending on screen size */
}

.confirm-action {
    width: 50%;
    background-color: #8c3d3f;
    color: white;
    padding: 15px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 30px;
}

.confirm-action:hover {
    background-color: #a72f34;
}

.modal-container {
  padding: 16px;
  text-align: center;
}

.modal-text {
    padding: 30px;
    color: #a72f34;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

#mySidepanel {
    display: none;
}
                                                   /* tablets*/

@media screen and (max-width: 1020px) {
    body {
        width: 100%;
    }
       
                                                                /*header*/
    .wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        padding: 0px 4%;
    }
    
    .title {
        letter-spacing: -0.5px;
        font-size: 25px;
        font-weight: 700;
        line-height: 22px;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Lato700";
    }
    
    h1>a {
        text-decoration: none;
        color: white;
    }
    
    h1>a:hover {
        border-bottom: 1px solid;
    }
    .navbar a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }
    
    .navbar a:hover {
        border-bottom: 1px solid;
    }
    
    header {
        display: flex;
        position: fixed;
        background-color: #2D303A;
        width: 100%;
        height: 89px;
        border-bottom: 6px solid #323746;
        z-index: 5;
    }
    
    .title a::after {
        display: inline-blocks;
        content: '*';
        color: #f06c64;
    }
    
    .navbar {
        justify-content: flex-end;
        display: flex;
        padding-top: 10px;
    }
    
    .navbar span>a:first-child {
        color: #f06c64;
    }
    
    nav {
        letter-spacing: -0.05px;
        font-size: 11.4px;
        color: #f06c64;
        font-family: "Lato700";
        text-align: justify;
    }
    
    .navbar li {
        display: inline;
        color:#ffffff;
    }
    
    .navbar li:first-child::before {
        padding-left: 12px;
        padding-right: 14px;
        color: #494e62;
        content: none;
    }
    
    .navbar li::before {
        padding-left: 16px;
        padding-right: 16px;
        color: white;
        content: '\00B7';
    }
    
    .header-active > a {
        color: #F06C64;
    }
    
                                                                /*slider*/
    
    
    .slider__container {
      padding-top: 95px;
      overflow: hidden;
      position: relative;
    }
    
    
    .next {
      left: 92%;
    }
    
    
                                                                /*services*/
    
    .our_services {    
        font-family: "Lato700";
        margin: 0%;
        height: 494px;
        background-color: #f2f2f2;
        border-bottom: #ffffff 6px solid;
    }
    
    h2 {
        font-size: 30px;
        line-height: 18px;
        color: #666d89;
        font-family: "Lato900";
        text-align: justify;
        padding: 68px 0 0px 40px;
    }
    
    .MainSerInfo p {
        width: 92%;
    }
    
    .servmenu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 40px;
    }
    
    .MainSerInfo {
        height: 220px;
        width: 100%;
    }
    
    .serv {
        flex-basis: 32.8%;
    }
    
    .serv h3 {
        font-size: 18px;
        line-height: 13px;
        color: #666d89;
        font-family: "Lato900";
        text-align: justify;
        margin-bottom: 14px;
    }
    
    .col2 h3{
        letter-spacing: -0.4px;
    }
    
    .serv p {
        width: 69%;
    }
    
    .serv h3,p{
        margin-left: 80px;   
    }
    
    .about p {
        margin: 0;
    }
    
    .ServMenu img {
        float: left;
        transform: scale(0.967);
        margin: -1px 0px 0px -1px;
    }
                                                                /* SINGOLO2 */
    
    .portfolio-block {
        height: auto;
    }
    
    .portfolio {
        height: 190px;
        background-color: #2d303a;
    }
    
    .portfolio-title {
        font-size: 30px;
        line-height: 18px;
        color: #666d89;
        font-family: "Lato900";
        padding: 68px 0 0 40px;
        letter-spacing: 0.2;
        text-align: justify;
    }
    
    .title-desription {
        font-size: 18px;
        line-height: 30px;
        color: #767e9e;
        padding: 27px 0 0 40px;
        letter-spacing: -0.2;
        font-family: "Lato300";
        text-align: justify;
    }
    
    .tags {
        padding: 11px 0 24px 42px;
    }
    
    .tag {
        display: inline-block;
        font-size: 12px;
        line-height: 20px;
        color: #767e9e;
        font-family: "Lato400";    
        text-align: justify;
        border-radius: 5px;
        letter-spacing: -0.1;
        background-color: #2d303a;
        border: 1px solid #666d89;
        margin-right: 6px;
        padding: 0px 6px 0px 6px;
        cursor: pointer;
    }
    
    .tag.active {
        color: #c5c5c5;
        border: 1px solid #c5c5c5;
        margin-right: 7px;
    }
    
    .tag:hover {
        color: #c5c5c5;
        border: 1px solid #c5c5c5;
    }
    
    .pic-place {
        height: auto;
        width: 93%;
        padding: 0% 3.5% 5%;       
    }
    
    .pic-place>img:nth-child(n + 13) {
        display: none;
    }
    
                                                    /*FOOTER*/
    
    .about_us {
        padding-bottom: 65px;
        background-color: #f2f2f2;
        border-bottom: solid 6px #ffffff;
    }
    
    .about_title {
        font-size: 30px;
        line-height: 18px;
        color: #666d89;
        letter-spacing: -0.2px;
        font-family: "Lato900";
        text-align: justify;
        padding: 68px 0px 10px 41px;
    }
    
    .about_description {
        height: auto;
        padding: 17px 42px 44px 40px;
    }
    
    .avatars {
        width: 92%;
        padding: 0 4%;
    }
    
    
    .avatar-block {
        display: flex;
        width: 32%;
        flex-direction: column;
    }
    
    
    .avatar-block:nth-child(2) {
        padding-right: 2px;
    }
    
    .avatar-name {
        font-size: 18px;
        padding-top: 17px;
        max-width: 300px;
    }
    
    .avatar-description {
        width: 100%
    }
    
    .avatar-links {
        width: 51.5%;
    }
                                                            /* singolo3 */
        
    .quote {
        width: 100%;
        height: 648px;
        background-color: #f06c64;
        border-bottom: 6px solid #ea676b;
    }
    
    .quote-desc {
        width: 92%;
        padding: 5px 4% 0 4%;
    }
    
    
    footer {
        width: 100%;
        height: 76px;
        background-color: #2d303a;
    }
    
    .information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 364px;
        width: 95%;
        margin: 47px 0 0px 40px;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 115%;
        width: 68%;
    }
    
    .container form,input,textarea {
        width: 96.8%;
    }
    
    .container [value="submit"] {
        background-color: #FBC65F;
        width: 80px;
        cursor: pointer;
        color: #886A30;
    }
    
    .container textarea {
        width: 96.8%;
    }
    
    textarea[placeholder] {
        padding: 7px 0px 0px 2px;
    }
    
    .container input:last-child[placeholder] {
        padding-bottom: 167px;
        vertical-align: top;
    }
    
    ::placeholder{
        color: #f48c8f;
        vertical-align: top;    
    }
    
    .our-info {
        width: 35%;
    }
    
    .info-title {
        font-size: 18px;
        line-height: 18px;
        color: #f0d8d9;
        font-family: "Lato900";
        text-align: justify;
        letter-spacing: 0.1px;
    }
    
    .info-description {
        font-size: 12px;
        width: 91%;
        line-height: 22px;
        color: #f0d8d9;
        font-family: "Lato400";
        text-align: justify;
        letter-spacing: -0.15px;
        padding-bottom: 13px;
    }
    
    .info-contacts {
        font-size: 12px;
        line-height: 22px;
        color: #f0d8d9;
        font-family: "Lato400";    
        text-align: justify;    
        letter-spacing: -0.1px;
    }
    .info-contacts a{
        font-size: 12px;
        line-height: 22px;
        color: #f0d8d9;
        text-decoration: none;
    }
    
    .copyrights {
        font-size: 12px;
        line-height: 20px;
        color: #767e9e;
        font-family: "Lato400";
        display: inline-block;
        padding: 28px 0 0px 42px;
        letter-spacing: -0.2px;
    }
    
    .social-links {
        float: right;
        padding: 21px 39px 0px 0;
    }
    
    .social-links a {
        padding-left: 2px;
    }
    
    .place img{
        margin: 0px 10px -1px 3px;
    }
    
    .phone img{
        margin-left: 1px;
        margin-right: 8px;
    }
    
    .email img{
        margin-right: 8px;
    }
    
    .picture-block {
        margin-bottom: 10px;
    }
    
    .picture-block:hover {
        border: 5px solid #9c27b063;
    }
    
    .picture-block.active {
        border: 5px solid #F06C64;
    }
    
    /* Modal styles */
    
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 9; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: #474e5d6e;
      padding-top: 50px;
    }
    
    /* Modal Content/Box */
    .modal-content {
      max-width: 930px;
      background-color: #fefefe;
      border-radius: 6px;
      margin: 4% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #8c3d3f;
      width: 80%; /* Could be more or less, depending on screen size */
    }
    
    .confirm-action {
        width: 50%;
        background-color: #8c3d3f;
        color: white;
        padding: 15px;
        cursor: pointer;
        border-radius: 6px;
        margin-top: 30px;
    }
    
    .confirm-action:hover {
        background-color: #a72f34;
    }
    
    .modal-container {
      padding: 16px;
      text-align: center;
    }
    
    .modal-text {
        padding: 30px;
        color: #a72f34;
    }
    
    /* The Modal Close Button (x) */
    .close {
      position: absolute;
      right: 35px;
      top: 15px;
      font-size: 40px;
      font-weight: bold;
      color: #f1f1f1;
    }
    
    .close:hover,
    .close:focus {
      color: #f44336;
      cursor: pointer;
    }        
}



@media screen and (max-width: 768px) {
    .slide-block {
        height: 446px;
    }

    .phone-one-wrapper {
        height: 73.5%;
        width: 23.5%;
        box-shadow: none;
        background-position: center;
    }
    
    .phone-two-wrapper {
        height: 35%;
        width: 50%;
        box-shadow: none;
        background-position: center;
    }

    .phone-shadow {
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 24px;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.15);
        bottom: -20px;
        right: -13px;
    }

    .obj2, .obj4, .obj6 {
        
    }

    .our_services {
        height: auto;
        padding: 42px;
    }

    .MainSerInfo {
        height: auto;
    }

    .MainSerInfo > h2{
        padding: 0;
    }

    .MainSerInfo > p{
        height: auto;
        word-spacing: -3px;
        margin: 0;
        width: 100%;
        padding: 27px 0 42px 0;
    }

    .servmenu {
        padding-left: 0;
        justify-content: space-between;
    }

    .serv {
        flex-basis: auto;
        padding-right: 33px;
    }

    .serv > div {
        width: 300px;
    }

    .serv p {
        width: 77%;
        line-height: 22px;
    }

    .pic-place {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: auto;
        width: 100%;
        padding: 0 24px 6%;
        box-sizing: border-box;
    }

    #portfolio {
        height: auto;
    }

    .avatar-description {
        width: 100%;
    }

    .avatar-block > img {
        height: 218px;
    }

    .avatars {
        width: 100%;
        padding: 0;
    }

    .about_title {
        padding: 0 0 30px 0;
    }

    .about_description {
        height: auto;
        padding: 0 0 42px 0;
    }

    #about {
        padding: 9% 5%;
    }

    .container {
        width: 65%;
        padding-right: 30px;
        flex-shrink: 0;
        height: 100%;
    }

    .container > input, 
    .container > textarea {
        width: 100%;
        margin: 5px 0;
    }

    .info-description {
        width: 100%;
    }

    #contact {
        margin: 0;
        width: 100%;
    }

    .quote-title {
        padding: 0;
        height: 45px;
    }

    .quote-desc {
        padding: 0px 0 18px 0;
        width: 100%;
        height: auto;
    }

    .quote {
        height: auto;
        padding: 8% 5% 5%;
        width: auto;
    }

    .portfolio {
        height: auto;
        background-color: #2d303a;
    }

    .container [value="submit"] {
        background-color: #FBC65F;
        text-align: -webkit-center;
        width: 30%;
        text-indent: 0;
        cursor: pointer;
        color: #886A30;
    }

    .prev, .next {
        margin-top: 20px;
        padding: 1.6%;
    }
    
    .prev {
        margin-left: 20px;
    }

    .title-desription{
        padding: 27px 5% 0;
    }

    .picture-block img {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 375px) {
    header {
        display: none;
    }

    .header-modile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 71px;
        background-color: #2D303A;
        position: fixed;
        z-index: 9;
    }

    .burger {
        position: absolute;
        color: white;
        left: 20px;
        top: 24px;
        font-size: 25px;
        transition: all 0.5s;
    }

    .title {
        font-style: normal;
        font-weight: bold;
        font-size: 19.6875px;
        line-height: 24px;
        letter-spacing: -0.03em;
    }

    .slider__container {
        padding-top: 71px;
    }

    #mySidepanel {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .sidepanel {
      height: 100vh; /* Specify a height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 15; /* Stay on top */
      top: 0;
      left: 0;
      background: #2D303A;
      box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
      overflow-x: hidden; /* Disable horizontal scroll */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    }

    .sidepanel > .burger {
        transform: rotate(90deg);
    }

    .sidepanel > .title > h1 > a {
        color: white;
    }

    .sidepanel > .title {
        padding-top: 12px;
    }

    .sidepanel ul {
        flex-direction: column;
        margin-top: 60%;
        padding-left: 5px;
        font-family: "Lato400"; 
        color: white;
    }

/* The sidepanel links */
    .sidepanel a {
      padding: 12px 8px 12px 32px;
      text-decoration: none;
      font-size: 25px;
      display: block;
      transition: 0.3s;
    }

/* When you mouse over the navigation links, change their color */
    .sidepanel a:hover {
      color: #F06C64;
    }

    .navbar li:before {
        display: none;
    }
    
    .serv {
        padding: 0 ;
    }

    .prev, .next {
        margin-top: 15px;
    }
    .prev {
        margin-left: 0px;
    }

    .phone-shadow {
        bottom: -8px;
        right: -7px;
        border-radius: 10px;
    }

    .phone-one {
        border-radius: 8px;
    }

    .slide-block {
        height: 220px;
        border-bottom: 0px solid #f06c64;
    }

    .phone-two-wrapper {
        height: 36%;
        width: 49%;
        box-shadow: none;
        background-position: center;
    }
    
    .MainSerInfo > p {
        word-spacing: -3px;
        text-align: inherit;        
    }
    
    .portfolio-title {
        padding: 60px 0 0 36px;
    }

    .title-desription{
        width: auto;
    height: auto;
    padding: 5% 10% 0;
    }
    .serv > div {
        width: auto;
    }
    .serv p {
        width: auto;
        line-height: 22px;
    }
}
